@model Comment

@{
    if (@Model == null || @Model.Txt == null)
    {
        return;
    }

    var timePassed = TimePassedAsString(Model.Created);
}

<div class="comment">
    <a href="/user/@Model.Creator.Id" class='author'>@Model.Creator.Email</a>
    <span class='score'><b>@Model.Score Points</b></span>
    <span class="date">@timePassed</span><br>
    <span style="white-space: pre-line">@Model.Txt</span>


    @foreach (var childComment in @Model.Children)
    {<div class="comment" style="padding-left: 30px">
        @Html.Partial("_CommentPartial", childComment)</div>
    }
</div>

@functions {
    string TimePassedAsString(DateTime time)
    {
        var difference = DateTime.Now.Subtract(time);

        if (difference.Days >= 30)
        {
            var countMonths = difference.Days / 30;
            return difference.Days / 30 + " months ago";
        }
        else if (difference.Days > 0)
            return difference.Days + " days ago";
        else if (difference.Hours > 0)
            return difference.Hours + " hours ago";
        else if (difference.Minutes > 0)
            return difference.Minutes + " minutes ago";

        return "<1min ago";
    }
}