@{ ViewData["Title"] = Model.Title; }
@model Post

<div class="post">
                <div class="upvote-btn"><span class="upvote"></span>
                <div>@Model.Score</div><span class="downvote"></span></div>
                <div class="content">
                    <a class=\"post-title\" href=//@Model.Link>@Model.Title</a><br>
                    <div class="sub">
                        <a class="creator" href=/user/@Model.Creator.Id>@Model.Creator.Email</a> | 
                        @Model.Created.ToString("dd / MM / yyyy") | 
                        <a href='/post/@Model.PostId'>@Model.Comments.Count() comments</a>
                    </div>
                </div>
            </div>

<form action="#" onsubmit="post_form(this, '/api/comment')">
  <input type="text" id="Txt" name="Txt" value="" />
  <input type="hidden" id="postId" name="postId" value="@Model.PostId" />
  <input type="submit" class="button" value="Submit">
</form>

    <ul>
        @foreach (var item in Model.Comments) {
        <li>
            <comment comment=@item></comment>
        </li>
        }
    </ul>
