@inject UserManager<ApplicationUser> userManager
@model ApplicationUser

<div>
<h3>@Model.UserName</h3>
@Model.CreatedPosts.Sum(p => p.Score) Link Karma - @Model.CreatedComments.Sum(c => c.Score) Comment Karma


<ul style="margin-left:10px;">
    @{var posts = @Model.CreatedPosts.OrderByDescending(p => p.Created).ToList();}
    @foreach (var item in Model.CreatedComments.OrderByDescending(c => c.Created)) {
        @while (posts.Count > 0 && posts[0].Created > item.Created)
        {
            <li style="display: block">
                <div class="post">
                    <div class="upvote-btn">
                        @{
                            if (posts[0].UpvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)) != null && posts[0].UpvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)).Upvoted)
                            {
                                <span style="color:orange;" id="@posts[0].PostId-upbtn" onclick="un_upvote_post(@posts[0].PostId, @posts[0].Score - 1)" class="upvote">
                                </span>
                                <div id="@posts[0].PostId-score" style="color:orange">@posts[0].Score</div>
                        
                                <span id="@posts[0].PostId-downbtn" onclick="downvote_post(@posts[0].PostId, @posts[0].Score - 1)" class="downvote">
                                </span>
                            }
                            else if (posts[0].DownvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)) != null && posts[0].DownvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)).Downvoted)
                            {
                                <span id="@posts[0].PostId-upbtn" onclick="upvote_post(@posts[0].PostId, @posts[0].Score + 1)" class="upvote">
                                </span>
                                <div id="@posts[0].PostId-score" style="color:blue">@posts[0].Score</div>
                        
                                <span style="color:blue" id="@posts[0].PostId-downbtn" onclick="un_downvote_post(@posts[0].PostId, @posts[0].Score + 1)" class="downvote">
                                </span>
                            }
                            else
                            {
                                @if (userManager.GetUserId(User) == null)
                                {
                                    <a href="/Account/Login">
                                        <span id="@posts[0].PostId-upbtn" class="upvote">
                                        </span>
                                    </a>
                                    <div class="vote-score" id="@posts[0].PostId-score">@posts[0].Score</div>

                                    <a href="/Account/Login">
                                        <span id="@posts[0].PostId-downbtn" class="downvote">
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    <span id="@posts[0].PostId-upbtn" onclick="upvote_post(@posts[0].PostId, @posts[0].Score)" class="upvote">
                                    </span>
                                    <div id="@posts[0].PostId-score">@posts[0].Score</div>
                            
                                    <span id="@posts[0].PostId-downbtn" onclick="downvote_post(@posts[0].PostId, @posts[0].Score)" class="downvote">
                                    </span>
                                }
                            }
                        }
                    </div>
                    <div class="content">
                        <a class=\"post-title\" href=//@posts[0].Link>@posts[0].Title</a><br>
                        <div class="sub">
                            <a class="creator" href=/user/@posts[0].Creator.UserName>@posts[0].Creator.UserName</a> | 
                            @posts[0].Created.ToString("dd / MM / yyyy") | 
                            <a href='/post/@posts[0].PostId'>@posts[0].Comments.Count() comments</a>
                            in <a class="creator" href='/r/@posts[0].SubredditName'>r/@posts[0].SubredditName</a>
                        </div>
                    </div>
                </div>
            </li>
            posts.RemoveAt(0);
        }

<li style="display: block">
<div style="margin: 10px 0 -10px 0;font-size:small;">
<a style="font-size:small;" class="post-title" href='//@item.Post.Link'>@item.Post.Title</a> by
<a style="color:#369;font-size:small;" class="creator" href='/user/@item.Post.Creator.UserName'>@item.Post.Creator.UserName</a>
in <a style="color:#369;font-size:small;" class="creator" href='/r/@item.Post.SubredditName'>r/@item.Post.SubredditName</a>
</div>

@Html.Partial("_CommentPartial", Tuple.Create<Comment, bool>(item, false))
    </li>
    }

    @foreach (var item in posts)
    {
         <li style="display: block">
                <div class="post">
                    <div class="upvote-btn">
                        @{
                            if (item.UpvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)) != null && item.UpvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)).Upvoted)
                            {
                                <span style="color:orange;" id="@item.PostId-upbtn" onclick="un_upvote_post(@item.PostId, @item.Score - 1)" class="upvote">
                                </span>

                                <div id="@item.PostId-score" style="color:orange">@item.Score</div>
                        
                                <span id="@item.PostId-downbtn" onclick="downvote_post(@item.PostId, @item.Score - 1)" class="downvote">
                                </span>
                            }
                            else if (item.DownvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)) != null && item.DownvotedBy.FirstOrDefault(x => x.UserId == userManager.GetUserId(User)).Downvoted)
                            {
                                <span id="@item.PostId-upbtn" onclick="upvote_post(@item.PostId, @item.Score + 1)" class="upvote">
                                </span>
                                <div id="@item.PostId-score" style="color:blue">@item.Score</div>
                        
                                <span style="color:blue;" id="@item.PostId-downbtn" onclick="un_downvote_post(@item.PostId, @item.Score + 1)" class="downvote">
                                </span>
                            }
                            else
                            {
                                @if (userManager.GetUserId(User) == null)
                                {
                                    <a href="/Account/Login">
                                        <span id="@item.PostId-upbtn" class="upvote">
                                        </span>
                                    </a>
                                    <div class="vote-score" id="@item.PostId-score">@item.Score</div>

                                    <a href="/Account/Login">
                                        <span id="@item.PostId-downbtn" class="downvote">
                                        </span>
                                    </a>
                                }
                                else
                                {   
                                    <span id="@item.PostId-upbtn" onclick="upvote_post(@item.PostId, @item.Score)" class="upvote">
                                    </span>

                                    <div id="@item.PostId-score">@item.Score</div>
                            
                                    <span id="@item.PostId-downbtn" onclick="downvote_post(@item.PostId, @item.Score)" class="downvote">
                                    </span>
                                }
                            }
                        }
                    </div>
                    <div class="content">
                        <a class=\"post-title\" href=//@item.Link>@item.Title</a><br>
                        <div class="sub">
                            submitted @TimePassedAsString(item.Created) by
                            <a class="creator" href=/user/@item.Creator.UserName>@item.Creator.UserName</a>
                            in <a class="creator" href='/r/@item.SubredditName'>r/@item.SubredditName</a>
                        </div>
                        <div class="sub-2">
                            <a href='/post/@item.PostId'>@item.Comments.Count() comments</a>
                        </div>
                    </div>
                </div>
            </li>
    }
</ul>



@functions {
    string TimePassedAsString(DateTime time)
    {
        var difference = DateTime.Now.Subtract(time);

        if (difference.Days >= 30)
        {
            var countMonths = difference.Days / 30;
            return difference.Days / 30 + " months ago";
        }
        else if (difference.Days > 0)
            return difference.Days + " days ago";
        else if (difference.Hours > 0)
            return difference.Hours + " hours ago";
        else if (difference.Minutes > 0)
            return difference.Minutes + " minutes ago";

        return "<1min ago";
    }
}
</div>